.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
  background-color: var(--color-white);
}

.copyRightContainer {
  display: flex;
  align-items: center;
}

.creditsHeader {
  color: var(--color-silver-medal);
}

.copyRightHeader {
  padding-left: 25px;
}
