.menu {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-border);
  border-radius: 0 0 20px 20px;
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  transition: 400ms;
  transform: translateY(-100px);
}

.showMenu {
  transform: translateY(0);
}

.logoContainer {
  padding: 20px 40px;
}

.menuItemsContainer {
  width: 100%;
}

.menuItemsContainer a {
  padding-left: 40px;
  color: var(--color-quick-silver);
  transition: 400ms;
}

.menuItemsContainer a:hover {
  padding-left: 40px;
  color: var(--color-black);
}

.ctaContainer {
  padding-right: 40px;
}

.verticalLine {
  border-left: 1px solid black;
  height: 60px;
}

.navigationContainer {
  display: flex;
  align-items: center;
}
