html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans;
  background-color: var(--color-white-smoke);

  --color-black: #000000;
  --color-white: #ffffff;
  --color-royal-vessel: #4339f2;
  --color-quick-silver: #9b9b9b;
  --color-silver-medal: #d8d8d8;
  --color-white-smoke: #f8f8f8;
  --shadow-border: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 42px;
}

h1,
h2 {
  font-weight: 100;
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
